#featured {
    
}

#featured .featured-box {
    padding: 10px 26px;
    margin-left:10px;
    margin-right:10px;
    margin-bottom:40px;
    border-bottom: 1px solid #e2e2e1;
    border-left: 1px solid #e2e2e1;
    border-right: 1px solid #e2e2e1;
    border-top: 4px solid @urban-blue;
}

// top bar holding company name and date and share icon..

#featured .featured-box .bar {
    padding: 10px 0 16px;
    border-bottom: 1px solid #e2e2e1;
    
}

#featured .featured-box .bar div {
    margin-bottom:10px;
    @media @min-md {
        display:inline;
        margin:0;
    }
}

#featured .featured-box .bar .cmpny {
    font-weight:bold;
    display:inline;
    margin-right:30px;
}

#featured .featured-box .bar .date {
    display:inline;
}

#featured .featured-box .cont {
    padding: 10px 0;
    text-align: center;
    @media @min-md {
        text-align: left;
    }
}

#featured .featured-box .cont .title {
    font-weight:700;
    color: @urban-blue;
    margin-bottom:20px;
    margin-top:20px;
}

#featured .featured-box .cont .excerpt {
    margin-bottom:20px;
}

#featured .featured-box .cont a {
    color: @urban-green;
    text-transform: uppercase;
    font-weight: 700;
    font-size:0.875rem;
}


#recent-news .recent-box {
    padding: 10px 26px;
    margin-left:10px;
    margin-right:10px;
    margin-bottom:40px;
    border-bottom: 1px solid #e2e2e1;
    border-left: 1px solid #e2e2e1;
    border-right: 1px solid #e2e2e1;
    border-top: 4px solid @urban-green;
}

// top bar holding company name and date and share icon..

#recent-news .recent-box .bar {
    padding: 10px 0 16px;
    border-bottom: 1px solid #e2e2e1;
    
}

#recent-news .recent-box .bar div {
    // display:inline;
    margin-bottom:6px;
}

#recent-news .recent-box .bar .cmpny {
    font-weight:bold;
    display:inline;
    margin-right:30px;
}

#recent-news .recent-box .bar .date {
    display:inline;
}
#recent-news .recent-box .cont {
    padding: 10px 0;
    text-align: center;
    @media @min-md {
        text-align: left;
    }
}

#recent-news .recent-box .cont .title {
    font-weight:700;
    color: @urban-blue;
    margin-bottom:20px;
    margin-top:20px;
}

#recent-news .recent-box .cont .excerpt {
    margin-bottom:20px;
}

#recent-news .recent-box .cont a {
    color: @urban-green;
    text-transform: uppercase;
    font-weight: 700;
    font-size:0.875rem;
}

#events {
    background-color: @urban-blue;
    text-align: center;
}

#events h2 {
    color:white;
}

#events .container {
    max-width: 990px;
    margin: 0 auto;
    padding: 60px 0;
}

#events .cont {
    
}

#events .cont .ih {
    text-align: center;   
}

#events .cont .ih img {
    max-width: 200px;
}

#events .cont .t {
    display: block;
    max-width: 240px;
    margin: 0 auto;
    border-top: 1px solid #DCDCDC;
    padding: 10px;
}

#events .cont .t .date {
    display:inline;
    color:white;
    margin:0 20px;
}

#events .cont .t .location {
    display:inline;
    color:white;
    margin:0 20px;
}




